*:focus {
    outline: none;
}

body {
    font-family: sans-serif;
    margin: 0;
}

.all {
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 80px;
    background-color: #212121;
    color: whitesmoke;
    box-shadow: 0 0 10px black;
}

#fotofan-page {
    display: none;
}

#search-box-form {
    display: flex;
}

#search-icon {
    font-size: 20pt;
    margin-right: 5px;
}

#search-field {
    width: 450px;
    border-radius: 8px;
    padding: 5px 10px;
    border: none;
    font-weight: bold;
}

.right-nav {
    display: flex;
    align-items: center;
}

.right-nav div {
    padding-right: 10px;
    padding-left: 10px;
}

#upload-button {
    border-radius: 8px;
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

#login-name {
    font-size: larger;
}

.photo-view {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
    height: calc(100vh - 80px);
}

.photo-view img {
    margin: 20px;
}

#all-photos img {
    height: 200px;
}

.photo-view img:hover {
    margin: 18px;
    border: 2px solid silver;
}

#search-photos {
    list-style: none;
    padding: 0;
}

#search-photos img {
    width: 200px;
}

#search-photos .photo {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

#search-photos .search-item {
    width: calc(100vw - 40px) ;
    margin: 20px;
    border: 1px solid silver;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}

#search-photos .search-item .search-text {
    margin: 20px;
    text-decoration: none;
    color: black;
}
