@import 'Materialize/materialize.scss'
@import url('https://fonts.googleapis.com/css?family=Roboto')

.all
  width: 100%

.tabs .tab a.active
  @extend .blue-text
  @extend .text-lighten-5

.tabs .tab a:hover
  @extend .red-text

.tabs .tab a
  @extend .blue-text
  @extend .text-lighten-3

.collapsible
  @extend .z-depth-3

h5
  font-weight: bold

div#content
  max-width: 80%
  margin-left: auto
  margin-right: auto

#intro
  padding: 30px

td a
  display: block

.collapsible-body
  padding-left: 40px
  padding-top: 0px
  padding-bottom: 5px

.collapsible-header
  padding-top: 8px

.browser-default
  list-style: square
