@import 'Materialize/materialize.scss'
@import url('https://fonts.googleapis.com/css?family=Roboto')

.all
  width: 100%

.tabs .tab a.active
  @extend .blue-text
  @extend .text-lighten-5

.tabs .tab a:hover
  @extend .red-text

.tabs .tab a
  @extend .blue-text
  @extend .text-lighten-3

.collapsible
  @extend .z-depth-3

h5
  font-weight: bold

// header#intro
//   background-image: url("../material.png")
//   background: linear-gradient(to right, rgba(255,255,255,0) 70%, rgba(255,255,255,1))
//   background-size: contain


header#intro
  padding-left: 30px
  padding-top: 30px
  padding-bottom: 5px

div#content
  max-width: 80%
  margin-left: auto
  margin-right: auto

td a
  display: block

.collapsible-body
  padding-left: 40px
  padding-top: 0px
  padding-bottom: 5px

.collapsible-header
  padding-top: 8px

.browser-default
  list-style: square
