body {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: Calibri, sans-serif;
}

button, input[type=button] {
    height: 30px;
    min-width: 40px;
    background-color: #90CAF9;
    border: 0;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Bookman Old Style", sans-serif;
}

header h1 {
    margin: 0;
    background-color: #90CAF9;
    color: #212121;
    font-size: 40pt;
    padding: 30px 70px;
}

header #illusion-name {
    margin: 0;
    padding: 30px 90px;
    background-color: #4dd0e1;
    font-size: 23pt;
    font-weight: bold;
}

nav {
    background-color: #e0f7fa;
    width: 100%;
}

nav .nav-buttons {
    display: flex;
    width: max-content;
    width: -moz-max-content;
    margin-right: auto;
    margin-left: auto;
}

nav .nav-buttons button {
    margin: 20px;
}

.illusion {
    display: none;
    padding: 0 50px;
    background-color: whitesmoke;
}

.active {
    display: block;
}

.illusion .description {
    padding: 20px 50px;
}

.display {
    float: right;
    margin: 20px;
    display: flex;
    align-items: center;
}

canvas {
    border: 1px solid black;
    margin: 20px;
}

form {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 20px;
}
