body {
    max-width: 1200px;
    min-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, sans-serif;
}

button, input[type=button] {
    height: 30px;
    min-width: 40px;
    background-color: #90CAF9;
    border: 0;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}

header {
    display: flex;
    align-items: baseline;
}

header #illusion-name {
    margin-left: 20px;
    font-size: larger;
    font-weight: bold;
}

nav {
    display: flex;
    width: max-content;
    width: -moz-max-content;
    margin-right: auto;
    margin-left: auto;
}

nav button {
    margin: 20px;
}

.illusion {
    display: none;
    float: right;
}

.active {
    display: block;
}

.display {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
}

canvas {
    border: 1px solid black;
    margin: 20px;
}

form {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 20px;
}
