/*css for the order list*/
/*Nav bar*/

nav{
    background-color: #b71c1c;
}
.navbar-fixed{
    box-shadow: none;
}
.brand-logo {
    font-family: lobster, cursive;
    margin-left: 2%;
}
nav ul a{
    padding:15% 0 15% 0;
    margin-right: 10px;
}
nav ul a:hover{
    background-color:transparent;
}
#place-order-button{
    padding:0;
}
#place-order-button img{
    float:right;
    width:40%;
}
#place-order-button img:hover {
    opacity:0.8;
}
/*end Nav*/
#order-list {
    width: max-content;
    width: -moz-max-content;
    margin-right: auto;
    margin-left: auto;
    font-family: "Audiowide",sans-serif;
}
}
#order-list #no-pizza-image {
    width: 100vw;
    max-width: 500px;
}

#order-list .order-div {
    width: calc(100vw - 40px);
    border-radius: 20px;
    max-width: 1000px;
    margin: 20px 0;
    border: 1px solid black;
    padding: 20px;
}

#order-list .order-div .order-image {
    height: 100%;
}

#order-list .order-div .order-name {
}

#order-list .order-div .order-action {
}


/*info rows*/
.info-row {
    margin-top: 20px;
    max-width: 1300px;
}

.row > .info-div-wrapper {
    padding: 20px;
}

.row .info-div {
    font-family: "Audiowide",sans-serif;
    padding: 0 40px;
    border: 2px solid darkgray;
    border-radius: 20px;
    height: 450px;
}

#payment-table {
    max-width: 250px;
}

#payment-total-row {
    font-weight: bolder;
    border-top: 2px solid black;
}
