.slides .caption .sub-caption {
    line-height: 150%
}

/*Nav bar*/

nav{
    background-color: #e12626;
}
.navbar-fixed{
    box-shadow: none;

}
.brand-logo {
    font-family: lobster, cursive;
    margin-left: 2%;
}
:focus {
    outline: none;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 0;
}
/*end Nav*/

.special {
    margin: 100px 0;
}

.special .special-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin: auto;
}

.special .special-img img {
    max-height: 100%;
    max-width: 100%;
}

