
.slides, .caption, .sub-caption, h3 {
    line-height: 100%;
    font-family: "Audiowide",sans-serif;
}
/*Nav bar*/

nav{
    background-color: #e12626;
}
.navbar-fixed{
    box-shadow: none;
}
.brand-logo {
    font-family: lobster, cursive;
    margin-left: 2%;
}
nav ul a{
    padding:15% 0 15% 0;
    margin-right: 15px;
}
nav ul a:hover{
    background-color:transparent;
}
/*end Nav*/

.special {
    margin: 100px 0;
}

.special .special-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin: auto;
}

.special .special-img img {
    max-height: 100%;
    max-width: 100%;
}

