.brand-logo {
    font-family: lobster, cursive;
    margin-left: 2%;
}
#pizza-order-area {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

#pizza-order-area .order-button {
    text-transform: uppercase;
    width: 30%;
    border-radius: 5px;
}
