/*Nav bar*/

nav{
    background-color: #e12626;
}
.navbar-fixed{
    box-shadow: none;
}
.brand-logo {
    font-family: lobster, cursive;
    margin-left: 2%;
}
nav ul a{
    margin-right: 15px;
    font-weight: bolder;
}

#cart-badge {
    margin: 0 5px;
}

nav ul a:hover{
    background-color:transparent;
}
/*end Nav*/
#pizza-order-area {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

#pizza-order-area .order-button {
    text-transform: uppercase;
    font-family: "Audiowide",sans-serif;
    width: 30%;
    border-radius: 5px;
}
.card-title{
    font-family: "Audiowide",sans-serif;
}
.order-button{

}
.card-content{
    height:200px;
}
.card:hover{
    opacity:0.8;
}
