nav {
    display: flex;
    align-items: center;
    padding: 0 30px;
    height: 80px;
    background-color: whitesmoke;
    color: whitesmoke;
}


img.fanlogo {
    width: 100px;
    padding-right: 20px;
}

#search-box-form {
    display: flex;
    float: left;
}


#search-icon {
    font-size: 20pt;
    padding-right: 5px;
}

#search-icon:hover {
    cursor: default;
}

#search-field {
    width: 700px;
    border-radius: 5px;
    border: none;
    padding-left:10px;
    font-weight: bold;
}

.right-nav {
    display: flex;
    align-items: center;
}

.right-nav div {
    padding-right: 10px;
    padding-left: 20px;
}
#login-avatar{
    width:50px;
    border-radius: 50%;
}

#login-name{
    color:black;
}
#logout{
    font-size: larger;
    color:rgb(80,184,245);
    font-weight: bold;
    cursor:pointer;
    padding-left:30px;

}
/*photo page*/
.photo-view {
    padding:30px;
    overflow-y: auto;
}

.photo-view img {
    margin: 10px 5px;

}

.photo-view img:hover {
    opacity: 0.8;
    transition: opacity 0.3s;
}

#all-photos {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#all-photos img {
    height: 250px;
}

#search-photos {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

#search-photos img {
    width: 200px;
}

#search-photos .photo {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
/*search box*/
#search-photos .search-item {
    width: calc(30vw - 40px);
    height:calc(25vw - 40px);
    padding-left:10px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    float:left;

}
/*description in searchbox*/
#search-photos .search-item .search-text {
    width:50%;
    margin: 20px;
    text-decoration: none;
    color: black;
    float:left;
}
