*:focus {
    outline: none;
}

body {
    font-family: "Comfortaa", sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

form {
    text-align: center;
}

button:hover {
    opacity: 0.8;
}
/* 404 html */
.kermitTyping{
    text-align:center;
    font-family: "Ubuntu", sans-serif;
    line-height: 10px;
}
.kermitTyping p, .kermitTyping a{
    font-weight: bold;
    font-size:50px;
    text-decoration: none;
    color:white;
}
.kermitTyping a>p:hover{
    opacity:0.8;
}
/*end 404 html*/




