*:focus {
    outline: none;
}

body {
    font-family: "Comfortaa", sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

form {
    text-align: center;
}

button:hover {
    opacity: 0.8;
}


