body {
    min-width: 200px;
    background: url("../img_resource/wallpaper.jpg") no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    color:white;
}

#login-avatar{
    width:40px;
    border-radius: 50%;
}
#login-name{
    display:inline;
    font-weight: bold;
    color:white;

}
#logout{
    font-weight:bold;
    color: cornflowerblue;
    cursor:pointer;
}

#user-info {
    display: none;
}

nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 40px);
}

nav a {
    color: white;
    font-family: "Comfortaa", sans-serif;
    text-decoration: none;
    margin: 10px 10px;
    transition: background-color 0.5s;
}

nav a:hover {
    text-decoration: underline;
}

nav .nav-left {
    display: flex;
}

nav .nav-right {
    display: flex;
    align-items: center;
}

#logo {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.material-icons{
    color:white;
}
.login {
    text-decoration: none;
}

#login-avatar {
    margin: 0 10px;
}

input::-webkit-input-placeholder {
    color:white;
}
input[type=search] {
    display: block;
    width: 50%;
    max-width: 700px;
    min-width: 100px;
    margin: 6px auto 12px;
    border: 3px solid white;
    box-sizing: border-box;
    border-radius: 5px;
    background: url("../img_resource/search.png")no-repeat 8px 8px;
    padding: 15px 15px 15px 40px;
    color:white;
}

input[type=search]:hover {
    cursor: text;
}
#copyright{
    text-align: center;
    bottom:0;
}
