body{
    margin:0;
    padding:0;
    height:100%;
}
form {
    position: absolute;
    left:0;
    text-align: center;
    width:40%;
    height:100%;

}
#login-avatar{
    margin-left: -100px;
}
#welcome-user{
    font-weight: bold;
}
.slide{
    position:absolute;
    right:0;
    width:60%;
    height:100%;
    background: url("../img_resource/login.jpg") repeat center center;
}
#login-error{
    color:rgb(80,184,245);
}
.imgcontainer{
    /*border:1px darkred solid;*/
    padding-left:100px;
}
#username, #password {
    width: 50%;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: none;
    background-color: #e6f7ff;
    box-sizing: border-box;
}

#username:focus, #password:focus {
    border-bottom: 3px solid #4286f4;
    margin-bottom: 5px;
    transition: border-bottom 0.3s, margin-bottom 0.3s;
}

#login-button {
    background-color: #4286f4;
    font-family: "Comfortaa", sans-serif;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

button:hover {
    opacity: 0.8;
}
img.logo {
    width:80%;
    left:5px;
}
