body {
    background: url("../img_resource/login.jpg") no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}

#login-div {
    height: 100%;
    width: 40%;
    min-width: 400px;
    background-color: white;
}

#login-form {
    width: 100%;
}

#welcome-user{
    font-weight: bold;
}

.greeting {
    display: flex;
    justify-content: center;
    height: 200px;
}

#placeholder-img {
    align-self: flex-end;
    height: 150px
}

#greet-user {
    display: none;
}

#login-error{
    height: 20px;
    color:rgb(80,184,245);
}

#username, #password {
    width: 50%;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: none;
    background-color: #e6f7ff;
    box-sizing: border-box;
}

#username:focus, #password:focus {
    border-bottom: 3px solid #4286f4;
    margin-bottom: 2px;
    transition: border-bottom 0.3s, margin-bottom 0.3s;
}

#login-button {
    background-color: #4286f4;
    font-family: "Comfortaa", sans-serif;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

button:hover {
    opacity: 0.8;
}
